.p-0 {
  padding: 0;
}

.p-half {
  padding: var(--spacing-size-half);
}

.p-1 {
  padding: var(--spacing-size-1);
}

.px-1 {
  padding-left: var(--spacing-size-1);
  padding-right: var(--spacing-size-1);
}

.py-1 {
  padding-top: var(--spacing-size-1);
  padding-bottom: var(--spacing-size-1);
}

.pt-1 {
  padding-top: var(--spacing-size-1);
}

.pt-2 {
  padding-top: var(--spacing-size-2);
}

.pr-1 {
  padding-right: var(--spacing-size-1);
}

.pr-2 {
  padding-right: var(--spacing-size-2);
}

.pr-3 {
  padding-right: var(--spacing-size-3);
}

.pr-4 {
  padding-right: var(--spacing-size-4);
}

.pb-1 {
  padding-bottom: var(--spacing-size-1);
}

.pb-2 {
  padding-bottom: var(--spacing-size-2);
}

.pb-3 {
  padding-bottom: var(--spacing-size-3);
}

.pb-4 {
  padding-bottom: var(--spacing-size-4);
}

.pl-1 {
  padding-left: var(--spacing-size-1);
}

.pl-3 {
  padding-left: var(--spacing-size-3);
}

.m-0 {
  margin: 0;
}

.mx-1 {
  margin-left: var(--spacing-size-1);
  margin-right: var(--spacing-size-1);
}

.my-1 {
  margin-top: var(--spacing-size-1);
  margin-bottom: var(--spacing-size-1);
}

.my-2 {
  margin-top: var(--spacing-size-2);
  margin-bottom: var(--spacing-size-2);
}

.mt-1 {
  margin-top: var(--spacing-size-1);
}

.mt-2 {
  margin-top: var(--spacing-size-2);
}

.mt-3 {
  margin-top: var(--spacing-size-3);
}

.mr-1 {
  margin-right: var(--spacing-size-1);
}

.mr-2 {
  margin-right: var(--spacing-size-2);
}

.mr-3 {
  margin-right: var(--spacing-size-3);
}

.mr-4 {
  margin-right: var(--spacing-size-4);
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: var(--spacing-size-1);
}

.mb-2 {
  margin-bottom: var(--spacing-size-2);
}

.mb-3 {
  margin-bottom: var(--spacing-size-3);
}

.ml-1 {
  margin-left: var(--spacing-size-1);
}

.ml-auto {
  margin-left: auto;
}
