p {
  margin: 0;
}

p,
li,
input,
label,
textarea,
/* a, */
button,
select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
  color: black;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: var(--font-size-5);
}

h2 {
  font-size: var(--font-size-2);
}

h3 {
  font-size: var(--font-size-3);
}

h4 {
  margin: var(--spacing-size-1) 0;
  font-size: var(--font-size-2);
  line-height: var(--line-height-2);
}

h5 {
  font-size: var(--font-size-1);
  line-height: var(--line-height-1);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
