.page-wrapper {
  width: 100%;
  max-width: 1420px;
  padding: var(--spacing-size-2) var(--spacing-size-1);
}

@media (min-width: 768px) {
  .page-wrapper {
    padding: var(--spacing-size-3) var(--spacing-size-4);
  }
}
.card {
  padding: var(--spacing-size-2) var(--spacing-size-1);
  border-radius: var(--border-radius-1);
  border: 2px solid var(--color-grey);
}

.card h4:first-child {
  margin-top: 0;
  margin-bottom: var(--spacing-size-2);
}

@media (min-width: 768px) {
  .card {
    padding: var(--spacing-size-2);
  }
}

.split-card-top {
  padding: var(--spacing-size-2) var(--spacing-size-1) 0 var(--spacing-size-1);
  border-top-left-radius: var(--border-radius-1);
  border-top-right-radius: var(--border-radius-1);
  border: 2px solid var(--color-grey);
  border-bottom: 0;
  /* box-shadow: var(--box-shadow-1); */
  /* clip-path: inset(-15px -15px 0px -15px); */
  transition: border-bottom 0.5s ease;
}

.split-card-middle {
  padding: 0 var(--spacing-size-1);
  border: 2px solid var(--color-grey);
  border-top: 0;
  border-bottom: 0;
  /* box-shadow: var(--box-shadow-1); */
  /* clip-path: inset(0px -15px 0px -15px); */
  transition: border-bottom 0.5s ease, border-top 0.5s ease;
}

.split-card-bottom {
  padding: 0 var(--spacing-size-1) var(--spacing-size-2) var(--spacing-size-1);
  border-bottom-left-radius: var(--border-radius-1);
  border-bottom-right-radius: var(--border-radius-1);
  border: 2px solid var(--color-grey);
  border-top: 0;
  /* box-shadow: var(--box-shadow-1); */
  /* clip-path: inset(0px -15px -15px -15px); */
  transition: border-bottom 0.5s ease;
}

/* .split .split-card-top,
.split .split-card-bottom {
  clip-path: inset(-15px -15px -15px -15px);
}
 */
.split-1 .split-card-top {
  /* clip-path: inset(-15px -15px -15px -15px); */
  border-bottom: 2px solid var(--color-grey);
}

.split-1 .split-card-middle {
  /* clip-path: inset(-15px -15px 0px -15px); */
  border-top: 2px solid var(--color-grey);
}

.split-2 .split-card-middle {
  /* clip-path: inset(0px -15px -15px -15px); */
  border-bottom: 2px solid var(--color-grey);
}

.split-2 .split-card-bottom {
  /* clip-path: inset(-15px -15px -15px -15px); */
  border-top: 2px solid var(--color-grey);
}

.dropdown-modal-menu {
  position: absolute;
  display: flex;
  border-radius: var(--border-radius-2);
  background-color: white;
  box-shadow: var(--box-shadow-1);
  visibility: hidden;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  z-index: var(--z-index-modal);
}

.dropdown-modal-menu:not(.open) {
  height: 0px !important;
}

.dropdown-modal-menu.open {
  visibility: visible;
}

.backdrop-illusion {
  background-color: var(--color-backdrop);
}

.generic-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  visibility: hidden;
  height: 0px;
  width: 0px;
  transform: translate(-50%, -50%);
  padding: var(--spacing-size-2);
  background-color: white;
  border-radius: var(--border-radius-2);
  box-shadow: var(--box-shadow-1);
  z-index: var(--z-index-modal);
  overflow: auto;
  scroll-behavior: smooth;
}